[phases.setup]
nixPkgs = ["python310", "gcc", "cmake"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "python main.py"
